extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="case-overview-form" action=`/upload/acceptdoc/${caseId}` method="POST" enctype="multipart/form-data")
      fieldset
        legend #{config.title}
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels._id.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig._id)
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjname.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjname)

        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjabbr.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjabbr)
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjAcceptDate.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjAcceptDate)

        if !caseOverviewConfig.attachedDoc
          .row
            .col-sm-10
              .form-group
                label.col-sm-4.control-label #{caseFormConfig.labels.attachedDoc.text}
                .col-sm-8
                  input(type="file" name="attachedDoc" id="attachedDoc" accept="image/gif, image/png, image/jpeg" onchange="acceptDocPreview(this)")

      if auditInfo.length > 0
        fieldset
          legend #{config.auditTitle}

          each auditInfoItem in auditInfo
            .row
              .col-sm-10
                .form-group
                  label.col-sm-4.control-label #{config.auditMessage.role.text}
                  .col-sm-8
                    input.form-control(type="text" readonly value=auditInfoItem.role)

            .row
              .col-sm-10
                .form-group
                  label.col-sm-4.control-label #{config.auditMessage.name.text}
                  .col-sm-8
                    input.form-control(type="text" readonly value=auditInfoItem.name)

            .row
              .col-sm-10
                .form-group
                  label.col-sm-4.control-label #{config.auditMessage.date.text}
                  .col-sm-8
                    input.form-control(type="text" readonly value=auditInfoItem.auditDate)

      br
      fieldset
        legend #{config.labels.attachedDoc.text}
        if caseOverviewConfig.attachedDoc
          img(src=`/uploads/${caseOverviewConfig.attachedDoc}`)
        else
          img(id='accept-doc-preview')

      if !caseOverviewConfig.attachedDoc
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
