extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal
      fieldset
        legend #{config.title}
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels._id.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig._id)
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjname.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjname)

        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjabbr.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjabbr)
        div.row
          div.col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.labels.subjAcceptDate.text}
              .col-sm-8
                input.form-control(type="text" readonly value=caseOverviewConfig.subjAcceptDate)
      br
      fieldset
        legend #{config.labels.attachedDoc.text}
        img(src=`/uploads/${caseOverviewConfig.attachedDoc}`)
