extends caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/${purpose}/${caseId}` method="POST")
      fieldset
        legend #{config.subtitle}
          .form-group
            label.col-sm-2.control-label #{config.formConfigs.password.text}
            .col-sm-10
              input.form-control(type="password" name="password" required)

      input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.commit.text)
