extends caseLayout

block case-content
  .case-content
    fieldset
      legend #{config.subtitles.subtitle_1.text}
      ul.commit-list
        each item in result
          if item.pass !== null
            li.row.commit-list-item
              .col-sm-8
                a
                  span #{item.message}
                  if item.resultText !== undefined
                    span #{item.resultText}
              .col-sm-4
                if item.pass === false && item.link !== ''
                  a.btn.btn-default(role="button" href=item.link)
                    span.glyphicon.glyphicon-link

          if item.children
            each child in item.children
              li.row.commit-list-item.level-2
                .col-sm-8
                  a
                    span #{child.message}
                    if child.resultText !== undefined
                      span #{child.resultText}
                .col-sm-4
                  if child.pass === false && child.link !== ''
                    a.btn.btn-default(role="button" href=child.link)
                      span.glyphicon.glyphicon-link
              if child.children
                each bottomItem in child.children
                  li.row.commit-list-item.level-2
                    .col-sm-8
                      a
                        span #{bottomItem.message}
                        if bottomItem.resultText !== undefined
                          span #{bottomItem.resultText}
                    .col-sm-4
                      if bottomItem.pass === false && bottomItem.link !== ''
                        a.btn.btn-default(role="button" href=bottomItem.link)
                          span.glyphicon.glyphicon-link

    if showForm
      form.form-horizontal(action=`/commit/${caseId}` method="POST")
        fieldset
          legend #{config.subtitles.subtitle_2.text}
          .form-group
            label.col-sm-2.control-label #{config.password}
            .col-sm-10
              input.form-control(type="password" name="password" required)

        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.commit.text)
