extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="discontinuation-form" action=`/discontinuation/${caseId}` method="POST")
      fieldset
        legend #{config.groups.discontinue.text}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuebeforesurgery)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuebeforesurgery, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuedt)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuedt, questionFields)

      fieldset
        legend #{config.groups.discontinuersn.text}

        .row
          .col-sm-10
            .form-group             
                +_formTemplate(config.formConfigs.discontinuersn_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_1, questionFields)
        
        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2, questionFields)

        - config.formConfigs.discontinuersn_2_1.hidden = !(config.formConfigs.discontinuersn_2.value === true)
        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_2_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2_1, questionFields)

        - config.formConfigs.discontinuersn_2_2.hidden = !(config.formConfigs.discontinuersn_2.value === true)
        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_2_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2_2, questionFields)

        - config.formConfigs.discontinuersn_2_3.hidden = !(config.formConfigs.discontinuersn_2.value === true)
        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_2_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2_3, questionFields)

        - config.formConfigs.discontinuersn_2_4.hidden = !(config.formConfigs.discontinuersn_2.value === true)
        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_2_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2_4, questionFields)

        - config.formConfigs.discontinuersn_2_5.hidden = !(config.formConfigs.discontinuersn_2.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_2_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_2_5, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.discontinuersn_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_3, questionFields)

        - config.formConfigs.discontinuersn_3_1.hidden = !(config.formConfigs.discontinuersn_3.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_3_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_3_1, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.discontinuersn_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_4, questionFields)

        - config.formConfigs.discontinuersn_4_1.hidden = !(config.formConfigs.discontinuersn_4.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_4_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_4_1, questionFields)

        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_5, questionFields)

        - config.formConfigs.discontinuersn_5_1.hidden = !(config.formConfigs.discontinuersn_5.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_5_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_5_1, questionFields)

        .row
          .col-sm-10
            .form-group
                +_formTemplate(config.formConfigs.discontinuersn_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_6, questionFields)

        - config.formConfigs.discontinuersn_6_1.hidden = !(config.formConfigs.discontinuersn_6.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.discontinuersn_6_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.discontinuersn_6_1, questionFields)

        if caseStatus === 'open'
          hr
          .row
            .col-sm-10
              .form-group
                label.control-label #{secondAuthConfig.formConfigs.password.text}
                input.form-control(type="password" name="password" data-customrequired)
      .row
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
