extends caseLayout

block case-content
  .case-content
    fieldset
      legend #{config.title}
      ul.commit-list
        each item in result
          if item.pass !== null
            li.row.commit-list-item.level-1
              .col-sm-8
                a
                  span #{item.message}
                  if item.resultText !== undefined
                    span.badge.commit-status(class=item.resultType) #{item.resultText}
              .col-sm-4
                if item.pass === false && item.link !== ''
                  a.btn.btn-default(role="button" href=item.link)
                    span.glyphicon.glyphicon-link

            if item.errors
              each error in item.errors
                li.row.commit-list-item.level-2
                  .col-sm-8
                    a
                      span.commit-error-message #{error}

          if item.children
            each child in item.children
              li.row.commit-list-item.level-2
                .col-sm-8
                  a
                    span #{child.message}
                    if child.resultText !== undefined
                      span.badge.commit-status(class=child.resultType) #{child.resultText}
                .col-sm-4
                  if child.pass === false && child.link !== ''
                    a.btn.btn-default(role="button" href=child.link)
                      span.glyphicon.glyphicon-link
              if child.children
                each bottomItem in child.children
                  li.row.commit-list-item.level-2
                    .col-sm-8
                      a
                        span #{bottomItem.message}
                        if bottomItem.resultText !== undefined
                          span #{bottomItem.resultText}
                    .col-sm-4
                      if bottomItem.pass === false && bottomItem.link !== ''
                        a.btn.btn-default(role="button" href=bottomItem.link)
                          span.glyphicon.glyphicon-link
