extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="evacuation-followup-form" action=`/evacuationfollowup/${caseId}/${followupId || ''}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.title}
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assessmentdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.assessmentdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperativeday, true, true)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.status)
          .col-sm-2
            +_questionBtn(config.formConfigs.status, questionFields)

        - config.formConfigs.status_1.hidden = !(config.formConfigs.status.value === 1)
        .row(id=`status_1_row` class=(config.formConfigs.status_1.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.status_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.status_1, questionFields)

        - config.formConfigs.status_2.hidden = !(config.formConfigs.status.value === 1)
        .row(id=`status_2_row` class=(config.formConfigs.status_2.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.status_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.status_2, questionFields)

        - config.formConfigs.status_3.hidden = !(config.formConfigs.status.value === 1)
        .row(id=`status_3_row` class=(config.formConfigs.status_3.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.status_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.status_3, questionFields)

        - config.formConfigs.status_4.hidden = !(config.formConfigs.status.value === 1)
        .row(id=`status_4_row` class=(config.formConfigs.status_4.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.status_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.status_4, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(id="evacuation-followup-submit-btn" type="submit" value=buttonConfig.buttons.save.text)
