extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    fieldset
      legend #{config.subtitles.subtitle_1.text}

      table.table.table-striped
        thead
          tr
            each followupTableHeader in config.headers
              th #{followupTableHeader.text}
        tbody
          each followup in followupList
            tr
              each followupTableHeader in config.headers
                if followupTableHeader.name !== 'operations'
                  td #{followup[followupTableHeader.name]}
                else
                  td
                    .btn-group
                      a.btn.btn-default(role="button" href=`/evacuationfollowup/${caseId}/${followup._id}`)
                        span.glyphicon.glyphicon-pencil
                      a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteFollowupConfirmModal" data-caseid=caseId data-followupid=followup._id)
                        span.glyphicon.glyphicon-trash

      if canAdd
        a.btn.btn-default.yuda-input-btn(href=`/evacuationfollowup/${caseId}` role="button") #{buttonConfig.buttons.add.text}

      .modal.fade(id='deleteFollowupConfirmModal' tabindex="-1" role="dialog")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;

            .modal-body
              h4 #{config.removeConfirm.message.text}

            .modal-footer
              button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
              a.btn.btn-primary(id="deleteFollowupConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}

    form.form-horizontal(id="evacuation-form" action=`/evacuation/${caseId}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_2.text}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.evacuationdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.evacuationdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.evacuationtype)
          .col-sm-2
            +_questionBtn(config.formConfigs.evacuationtype, questionFields)
        
      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
