extends layout

block content
  .inner
    .row
      each summaryTitleItem in homeConfig.summary.titles
        .col-sm-2
          span #{summaryTitleItem.text}
    .row
      .col-sm-7
        .row
          .col-sm-4
            h2 #{homeConfig.cases.title}
          .col-sm-4
            a.btn.btn-default(href="/" role="button") #{buttonConfig.buttons.committed.text}
            a.btn.btn-default(href="/" role="button") #{buttonConfig.buttons.ongoing.text}
            a.btn.btn-default(href="/" role="button") #{buttonConfig.buttons.all.text}
        .row
          table.table.table-striped
            thead
              tr
                each casesHeader in homeConfig.cases.headers
                  th #{casesHeader.text}
            tbody
              each caseItem in cases
                tr
                  each casesHeader in homeConfig.cases.headers
                    if casesHeader.name !== 'operations'
                      td #{caseItem[casesHeader.name]}
                    else
                      td
                        .row
                          .col-sm-3
                            a.btn.btn-default(role="button" href=`/screening/basic/${caseItem._id}`)
                              span.glyphicon.glyphicon-pencil

                          .col-sm-3
                            a.btn.btn-default(role="button" href=`/remove/case/${caseItem._id}`)
                              span.glyphicon.glyphicon-trash

      .col-sm-5
        h2 #{homeConfig.questions.title}
        table.table.table-striped
            thead
              tr
                each questionsHeader in homeConfig.questions.headers
                  th #{questionsHeader.text}

            tbody
              each questionItem in questions
                tr
                  each questionsHeader in homeConfig.questions.headers
                    if questionsHeader.name !== 'operations'
                      td #{questionItem[questionsHeader.name]}
                    else
                      td
                        .row
                          a.btn.btn-default(role="button" href=`/question/${questionItem.questionId}`)
                            span.glyphicon.glyphicon-pencil
                            
