extends layout

block content
  .inner.container
    .row.kpi-panel
      .panel.panel-default
        .panel-heading
          h2 #{homeConfig.summary.title}
        .panel-body
          each summaryTitleItem in homeConfig.summary.titles
            if kpis[summaryTitleItem.name] !== null
              .col-sm-2.well.kpi-title
                h4 #{summaryTitleItem.text}
                span #{kpis[summaryTitleItem.name]}
    .row
      .col-sm-7.yuda-dashboard-panel
        .panel.panel-default
          .panel-heading

            h3 #{homeConfig.cases.title}
            .table-filter
              .btn-group
                a.btn.btn-default(href="/?casestatus=open" role="button" class=(currentQuery.casestatus === 'open' ? 'active' : '')) #{buttonConfig.buttons.ongoing.text}
                a.btn.btn-default(href="/?casestatus=committed" role="button" class=(currentQuery.casestatus === 'committed' ? 'active' : '')) #{buttonConfig.buttons.committed.text}
                a.btn.btn-default(href="/?casestatus=audited" role="button" class=(currentQuery.casestatus === 'audited' ? 'active' : '')) #{buttonConfig.buttons.audited.text}
                a.btn.btn-default(href="/?casestatus=locked" role="button" class=(currentQuery.casestatus === 'locked' ? 'active' : '')) #{buttonConfig.buttons.locked.text}
                a.btn.btn-default(href="/?casestatus=quit" role="button" class=(currentQuery.casestatus === 'quit' ? 'active' : '')) #{buttonConfig.buttons.quit.text}
                a.btn.btn-default(href="/" role="button" class=(currentQuery.casestatus === undefined ? 'active' : '')) #{buttonConfig.buttons.all.text}

          table.table.table-striped
            thead
              tr
                each casesHeader in homeConfig.cases.headers
                  th #{casesHeader.text}
            tbody
              each caseItem in cases
                tr
                  each casesHeader in homeConfig.cases.headers
                    if casesHeader.name !== 'operations'
                      td #{caseItem[casesHeader.name]}
                    else
                      td
                        .row
                          .btn-group
                            a.btn.btn-default(role="button" href=`/overview/${caseItem._id}`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteConfirmModal" data-removetype="case" data-removeid=caseItem._id)
                                span.glyphicon.glyphicon-trash
          .panel-footer

      .col-sm-5.yuda-dashboard-panel
        .panel.panel-default
          if user.role !== 'cra'
            .yuda-header-filter
              .form-group
                label.control-label #{utilConfig.utils.user.text}
                  select.form-control(id="userFilterSelect" onchange="handleFilterChange(this)")
                    each userItem in users
                      option(value=userItem._id) #{userItem.username}

          .yuda-header-filter
            .form-group
              label.control-label #{utilConfig.utils.status.text}
                select.form-control(id="questionStatusFilterSelect" onchange="handleFilterChange(this)")
                  each questionStatusItem in questionStatusConfig
                    option(value=questionStatusItem.value) #{questionStatusItem.text}

          .panel-heading
            h3 #{homeConfig.questions.title}

          table.table.table-striped(id="question-table")
              thead
                tr
                  each questionsHeader in homeConfig.questions.headers
                    th #{questionsHeader.text}

              tbody
                each questionItem in questions
                  tr(id=`questionrecord-${questionItem.execId}-${questionItem.statusValue}`)
                    each questionsHeader in homeConfig.questions.headers
                      if questionsHeader.name !== 'operations'
                        td #{questionItem[questionsHeader.name]}
                      else
                        td
                          .row
                            a.btn.btn-default(role="button" href=`/question/${questionItem.questionId}/?source=update`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteConfirmModal" data-removetype="question" data-removeid=questionItem.questionId)
                                span.glyphicon.glyphicon-trash

          .panel-footer

    .modal.fade(id='deleteConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{homeConfig.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
