extends layout

block content
  .inner.container
    .row.kpi-panel
      .panel.panel-default
        .panel-heading
          h2 #{homeConfig.summary.title}
        .panel-body
          each summaryTitleItem in homeConfig.summary.titles
            .col-sm-2.well.kpi-title
              h4 #{summaryTitleItem.text}
              span 100%
    .row
      .col-sm-7.yuda-dashboard-panel
        .panel.panel-default
          .panel-heading

            h3 #{homeConfig.cases.title}
            .table-filter
              .btn-group
                a.btn.btn-default(href="/?casestatus=open" role="button" class=(currentQuery.casestatus === 'open' ? 'active' : '')) #{buttonConfig.buttons.ongoing.text}
                a.btn.btn-default(href="/?casestatus=committed" role="button" class=(currentQuery.casestatus === 'committed' ? 'active' : '')) #{buttonConfig.buttons.committed.text}
                a.btn.btn-default(href="/?casestatus=audited" role="button" class=(currentQuery.casestatus === 'audited' ? 'active' : '')) #{buttonConfig.buttons.audited.text}
                a.btn.btn-default(href="/?casestatus=locked" role="button" class=(currentQuery.casestatus === 'locked' ? 'active' : '')) #{buttonConfig.buttons.locked.text}
                a.btn.btn-default(href="/?casestatus=quit" role="button" class=(currentQuery.casestatus === 'quit' ? 'active' : '')) #{buttonConfig.buttons.quit.text}
                a.btn.btn-default(href="/" role="button" class=(currentQuery.casestatus === undefined ? 'active' : '')) #{buttonConfig.buttons.all.text}

          table.table.table-striped
            thead
              tr
                each casesHeader in homeConfig.cases.headers
                  th #{casesHeader.text}
            tbody
              each caseItem in cases
                tr
                  each casesHeader in homeConfig.cases.headers
                    if casesHeader.name !== 'operations'
                      td #{caseItem[casesHeader.name]}
                    else
                      td
                        .row
                          .btn-group
                            a.btn.btn-default(role="button" href=`/overview/${caseItem._id}`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" href=`/remove/case/${caseItem._id}`)
                                span.glyphicon.glyphicon-trash
          .panel-footer

      .col-sm-5.yuda-dashboard-panel
        .panel.panel-default
          .panel-heading
            h3 #{homeConfig.questions.title}


          table.table.table-striped
              thead
                tr
                  each questionsHeader in homeConfig.questions.headers
                    th #{questionsHeader.text}

              tbody
                each questionItem in questions
                  tr
                    each questionsHeader in homeConfig.questions.headers
                      if questionsHeader.name !== 'operations'
                        td #{questionItem[questionsHeader.name]}
                      else
                        td
                          .row
                            a.btn.btn-default(role="button" href=`/question/${questionItem.questionId}/?source=update`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" href=`/remove/question/${questionItem.questionId}`)
                                span.glyphicon.glyphicon-trash

          .panel-footer
