doctype html
html
  head
    title= `${h.siteName}`
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/datepicker/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='/timepicker/css/bootstrap-timepicker.min.css')
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/doughnut.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      nav.navbar.navbar-default.yuda-nav
        .container-fluid
          .navbar-header
            button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/") eCRF
          
          #navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              if user
                if user.role === 'admin'
                  li
                    a.yuda-menu-btn(href="/sites" class=(currentPath.startsWith('/site') ? 'active' : '')) #{buttonConfig.buttons.sitemanage.text}
                  li
                    a.yuda-menu-btn(href="/users" class=(currentPath.startsWith('/user') ? 'active' : '')) #{buttonConfig.buttons.usermanage.text}
                if user.role === 'cra'
                  li
                    a.yuda-menu-btn(href="/case" class=(currentPath === '/case' ? 'active' : '')) #{buttonConfig.buttons.newpatient.text}
                li
                  a.yuda-menu-btn(href="/logout") #{buttonConfig.buttons.logout.text}
              else
                li
                  a.yuda-menu-btn(href="/login") #{buttonConfig.buttons.login.text}

            if user
              ul.nav.navbar-nav.navbar-right
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(id="languageDropdownMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                    - const languageText = user.language === 'en' ? 'EN' : '中文'
                    span #{languageText}
                  ul.dropdown-menu(aria-labelledby="languageDropdownMenu")
                    li
                      a(href="/set/userlang/zh") 中文
                    li
                      a(href="/set/userlang/en") EN

                li
                  a.yuda-menu-user-icon #{user.userabbr}

    block messages
      if locals.flashes
        .inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    .content
      block content

    block scripts
      script(src="/jquery-3.2.1.min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
      script(src="/datepicker/js/bootstrap-datepicker.min.js")
      script(src="/timepicker/js/bootstrap-timepicker.min.js")
      script(src="/bootstrap-validator/validator.js")
      script(src="/dist/App.bundle.js")
