extends caseLayout

include mixins/_formTemplate
include mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="life-form" action=`/life/${caseId}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')

      fieldset(disabled=formDisabled)
        legend #{config.groups.life.text}
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assessmentdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.assessmentdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.life_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.life_1, questionFields)

      fieldset(disabled=formDisabled)
        legend #{config.groups.healthcare.text}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.healthcare_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_1, questionFields)

        - config.formConfigs.healthcare_1_1.hidden = !(config.formConfigs.healthcare_1.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.healthcare_1_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_1_1, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.healthcare_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_2, questionFields)

        - config.formConfigs.healthcare_2_1.hidden = !(config.formConfigs.healthcare_2.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.healthcare_2_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_2_1, questionFields)

        - config.formConfigs.healthcare_2_2.hidden = !(config.formConfigs.healthcare_2.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.healthcare_2_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_2_2, questionFields)

        - config.formConfigs.healthcare_2_3.hidden = !(config.formConfigs.healthcare_2.value === true && config.formConfigs.healthcare_2_2.value > 0)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.healthcare_2_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_2_3, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.healthcare_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_3, questionFields)

        - config.formConfigs.healthcare_3_1.hidden = !(config.formConfigs.healthcare_3.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.healthcare_3_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.healthcare_3_1, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
