extends layout

include mixins/_formTemplate

block content
  .inner.container
    .row.h-100
      .col-sm-8.h-sm-100.padding-left-0
        form.form-horizontal.h-sm-100(action=`/question/${questionId}` method="POST")
          .panel.panel-default.yuda-panel
            .panel-heading
              h3 质疑
            .panel-body.yuda-panel-body
              fieldset
                legend #{config.title}

                input(type="hidden" name="source" value=source)

                each configItem in config.formConfigs
                  .row
                    .col-sm-12(class={"query-mark": configItem.name === fieldConfig.name})
                      +_formTemplate(configItem, configItem.name != fieldConfig.name)

            .panel-footer.yuda-panel-footer
              .row
                .col-sm-12
                  +_formTemplate(questionConfig.questionConfigs.question_status)

              .row
                .col-sm-12
                  +_formTemplate(questionConfig.commentConfigs.new_comment)
              - const backLink = source === 'update' ? '/' : `/${backInfo.linkBase}/${backInfo.caseId}/${backInfo.secondaryId ? backInfo.secondaryId : ''}`
              a.btn.btn-default(role="button" href=backLink) #{buttonConfig.buttons.cancel.text}
              input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.commit.text)

      .col-sm-4.h-100.yuda-query-hist-panel
        ul.list-group
          each historyItem in historyList
            li.list-group-item.hist-item
               span.badge.float-right.hist-status #{historyItem.status}
               .hist-heading
                 h4 #{historyItem.username}

               .hist-body
                 .hist-value-section.row
                  span.hist-value-title.col-sm-4 New Value:
                  span.hist-value-body.col-sm-8 #{historyItem.value}
                 .hist-value-section.row
                   span.hist-value-title.col-sm-4 Comment:
                   span.hist-value-body.col-sm-8 #{historyItem.comment}
               .hist-footer
                  small #{historyItem.createDate}
