extends caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/review-checklist/${reviewChecklistObj.case || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="reviewcheck_1" checked=reviewChecklistObj.reviewcheck_1)
                span #{config.reviewcheck_1.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="reviewcheck_2" checked=reviewChecklistObj.reviewcheck_2)
                span #{config.reviewcheck_2.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="reviewcheck_3" checked=reviewChecklistObj.reviewcheck_3)
                span #{config.reviewcheck_3.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="reviewcheck_4" checked=reviewChecklistObj.reviewcheck_4)
                span #{config.reviewcheck_4.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        input(type="submit" value=buttonConfig.buttons.save.text)
