extends caseLayout

block case-content
  .case-content
    form.form-horizontal
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_1")
                span #{config.screeningcheck_1.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_2")
                span #{config.screeningcheck_2.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_3")
                span #{config.screeningcheck_3.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_4")
                span #{config.screeningcheck_4.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_5")
                span #{config.screeningcheck_5.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_6")
                span #{config.screeningcheck_6.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_7")
                span #{config.screeningcheck_7.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_8")
                span #{config.screeningcheck_8.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="screeningcheck_9")
                span #{config.screeningcheck_9.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
