extends layout

block content
  .inner.container
    .row
      .panel.panel-default(style="padding: 15px;margin-right: 15px;")
        .row
          .col-sm-4
            .form-group(id=`${searchConfig.formConfigs.cra.name}-container`)
              label.control-label #{searchConfig.formConfigs.cra.text}
              select.form-control(id=searchConfig.formConfigs.cra.name)
                option(value='') -
                each craItem in craList
                  option(value=craItem.id) #{craItem.text}

          .col-sm-4
            .form-group(id=`${searchConfig.formConfigs.site.name}-container`)
              label.control-label #{searchConfig.formConfigs.site.text}
              select.form-control(id=searchConfig.formConfigs.site.name)
                option(value='') -
                each siteItem in siteList
                  option(value=siteItem.id) #{siteItem.text}

          .col-sm-4
            .form-group(id=`${searchConfig.formConfigs.status.name}-container`)
              label.control-label #{searchConfig.formConfigs.status.text}
              select.form-control(id=searchConfig.formConfigs.status.name)
                option(value='') -
                each caseStatusItem in caseStatusList
                  option(value=caseStatusItem.value) #{caseStatusItem.text}
        .row
          .form-group.col-sm-10(id=`${searchConfig.formConfigs.searchinput.name}-container`)
            label.control-label #{searchConfig.formConfigs.searchinput.text}
            input.form-control(type="text" id=searchConfig.formConfigs.searchinput.name)
          .form-group.col-sm-2
            label(style="opacity:0;") ________
            button.btn.yuda-input-btn(type="button" onclick="searchBtnClickHandler()" style='margin-right:15px') #{buttonConfig.buttons.search.text}
    .row
      span #{searchConfig.searchResult.foundcase_0.text}
      span(id='found-case-number')
      span #{searchConfig.searchResult.foundcase_1.text}
      span(id='found-question-number')
      span #{searchConfig.searchResult.foundquestion.text}

    .row
      .col-sm-7.yuda-dashboard-panel
        .panel.panel-default
          .panel-heading
            h3 #{searchConfig.cases.title}
            button.btn.yuda-input-btn.export-btn(type="button" onclick="exportBtnClickHandler()") #{buttonConfig.buttons.export.text}

          table.table.table-striped(id="search-case-table")
            thead
              tr
                each casesHeader in searchConfig.cases.headers
                  th #{casesHeader.text}
                
                th siteId
                th searchinput
                th craId
                th statusValue
            tbody
              each caseItem in cases
                tr
                  each casesHeader in searchConfig.cases.headers
                    if casesHeader.name !== 'operations'
                      td #{caseItem[casesHeader.name]}
                    else
                      td
                        .row
                          .btn-group
                            a.btn.btn-default(role="button" href=`/overview/${caseItem._id}`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteConfirmModal" data-removetype="case" data-removeid=caseItem._id)
                                span.glyphicon.glyphicon-trash
                  td #{caseItem.siteId}
                  td #{`${caseItem._id}${caseItem.subjabbr}`}
                  td #{caseItem.craId}
                  td #{caseItem.statusValue}

          .panel-footer

      .col-sm-5.yuda-dashboard-panel
        .panel.panel-default
          .panel-heading
            h3 #{searchConfig.questions.title}

          table.table.table-striped(id="search-question-table")
              thead
                tr
                  each questionsHeader in searchConfig.questions.headers
                    th #{questionsHeader.text}

              tbody
                each questionItem in questions
                  tr(id=`questionrecord-${questionItem.execId}-${questionItem.statusValue}`)
                    each questionsHeader in searchConfig.questions.headers
                      if questionsHeader.name !== 'operations'
                        td #{questionItem[questionsHeader.name]}
                      else
                        td
                          .row
                            a.btn.btn-default(role="button" href=`/question/${questionItem.questionId}/?source=update`)
                              span.glyphicon.glyphicon-pencil
                            if user.role === 'admin'
                              a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteConfirmModal" data-removetype="question" data-removeid=questionItem.questionId)
                                span.glyphicon.glyphicon-trash

          .panel-footer

    .modal.fade(id='deleteConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{searchConfig.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
