extends ../layout

block content
  .inner.pading-right-15
    .panel.panel-default
      .panel-heading
        h3 #{userTableConfig.title}
      table.table.table-striped
        thead
          tr
            each userTableHeader in userTableConfig.headers
              th #{userTableHeader.text}
        tbody
          each user in users
            tr
              each userTableHeader in userTableConfig.headers
                if userTableHeader.name === 'sitename'
                  td #{user.site ? user.site.sitename : ''}
                else if userTableHeader.name !== 'operations'
                  td #{user[userTableHeader.name]}
                else
                  td
                    .btn-group
                      a.btn.btn-default(role="button" href=`/user/${user._id}`)
                        span.glyphicon.glyphicon-pencil
                      a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteUserConfirmModal" data-removeid=user._id)
                          span.glyphicon.glyphicon-trash

      a.btn.btn-default.yuda-input-btn-2(href="/register" role="button") #{userTableConfig.buttons.createNewUser.text}

    .modal.fade(id='deleteUserConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{userTableConfig.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteUserConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
