extends ../layout

block content
  .inner.pading-right-15
    .panel.panel-default
      .panel-heading
        h3 #{userTableConfig.title}
      table.table.table-striped
        thead
          tr
            each userTableHeader in userTableConfig.headers
              th #{userTableHeader.text}
        tbody
          each user in users
            tr
              each userTableHeader in userTableConfig.headers
                if userTableHeader.name === 'sitename'
                  td #{user.site ? user.site.sitename : ''}
                else if userTableHeader.name !== 'operations'
                  td #{user[userTableHeader.name]}
                else
                  td
                    .btn-group
                      a.btn.btn-default(role="button" href=`/user/${user._id}`)
                        span.glyphicon.glyphicon-pencil
                      a.btn.btn-default(role="button" href=`/remove/user/${user._id}`)
                        span.glyphicon.glyphicon-trash

      a.btn.btn-default.yuda-input-btn-2(href="/register" role="button") #{userTableConfig.buttons.createNewUser.text}
