extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="sae-form" action=`/sae/${caseId}/${saeId || ''}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_1.text}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeorigion)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeorigion, questionFields)

        - config.formConfigs.saeorigion_1.hidden = !(config.formConfigs.saeorigion.value === 'other')
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeorigion_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeorigion_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saetpe)
          .col-sm-2
            +_questionBtn(config.formConfigs.saetpe, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedtc, questionFields)

      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_5.text}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecomoandtreatment)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment, questionFields)

        - config.formConfigs.saecomoandtreatment_1_diagnosis.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_1_diagnosis)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_1_diagnosis, questionFields)

        - config.formConfigs.saecomoandtreatment_1_medication.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_1_medication)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_1_medication, questionFields)

        - config.formConfigs.saecomoandtreatment_1_dose.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_1_dose)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_1_dose, questionFields)

        - config.formConfigs.saecomoandtreatment_2_diagnosis.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_2_diagnosis)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_2_diagnosis, questionFields)

        - config.formConfigs.saecomoandtreatment_2_medication.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_2_medication)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_2_medication, questionFields)

        - config.formConfigs.saecomoandtreatment_2_dose.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_2_dose)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_2_dose, questionFields)

        - config.formConfigs.saecomoandtreatment_3_diagnosis.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_3_diagnosis)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_3_diagnosis, questionFields)

        - config.formConfigs.saecomoandtreatment_3_medication.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_3_medication)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_3_medication, questionFields)

        - config.formConfigs.saecomoandtreatment_3_dose.hidden = !(config.formConfigs.saecomoandtreatment.value)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecomoandtreatment_3_dose)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecomoandtreatment_3_dose, questionFields)

      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_2.text}

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_1, questionFields)

        - config.formConfigs.saecaus_2.hidden = !(config.formConfigs.saecaus_1.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_2, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_3, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_4, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_5, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_6, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_7, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_8, questionFields)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.saecaus_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_9, questionFields)

        - config.formConfigs.saecaus_10.hidden = !(config.formConfigs.saecaus_9.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saecaus_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.saecaus_10, questionFields)

      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_3.text}
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeterm)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeterm, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saestdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saestdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saenoticedtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saenoticedtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeact)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeact, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeres_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_1, questionFields)

        - config.formConfigs.saeres_2.hidden = !(config.formConfigs.saeres_1.value === 0)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saeres_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saeres_2, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerel)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerel, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saerpt_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.saerpt_2, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.saedesc)
          .col-sm-2
            +_questionBtn(config.formConfigs.saedesc, questionFields)

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
