extends ../caseLayout

block case-content
  .case-content
    table.table.table-striped
      thead
        tr
          each saeTableHeader in config.headers
            th #{saeTableHeader.text}
      tbody
        each sae in saeList
          tr
            each saeTableHeader in config.headers
              if saeTableHeader.name !== 'operations'
                td #{sae[saeTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/sae/${caseId}/${sae._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteSaeConfirmModal" data-caseid=caseId data-saeid=sae._id)
                      span.glyphicon.glyphicon-trash

    a.btn.btn-default.yuda-input-btn(href=`/sae/${caseId}` role="button") #{buttonConfig.buttons.add.text}

    .modal.fade(id='deleteSaeConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{config.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteSaeConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
