extends ../caseLayout

block case-content
  .case-content
    h2 #{saeTableConfig.title}

    table.table.table-striped
      thead
        tr
          each saeTableHeader in saeTableConfig.headers
            th #{saeTableHeader.text}
      tbody
        each sae in saeList
          tr
            each saeTableHeader in saeTableConfig.headers
              if saeTableHeader.name !== 'operations'
                td #{sae[saeTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/sae/${caseId}/${sae._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" href=`/remove/sae/${caseId}/${sae._id}`)
                      span.glyphicon.glyphicon-trash

    a.btn.btn-default.yuda-input-btn(href=`/sae/${caseId}` role="button") #{buttonConfig.buttons.add.text}
