extends ../caseLayout

block case-content
  .case-content
    h2 #{cmTableConfig.title}

    table.table.table-striped
      thead
        tr
          each cmTableHeader in cmTableConfig.headers
            th #{cmTableHeader.text}
      tbody
        each cm in cmList
          tr
            each cmTableHeader in cmTableConfig.headers
              if cmTableHeader.name !== 'operations'
                td #{cm[cmTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/cm/${caseId}/${cm._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" href=`/remove/cm/${caseId}/${cm._id}`)
                      span.glyphicon.glyphicon-trash

    a.btn.btn-default.yuda-input-btn(href=`/cm/${caseId}` role="button") #{buttonConfig.buttons.add.text}
