extends ../caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/screening/inclusion/${screeningObj.case || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="inclusion_1" checked=screeningObj.inclusion_1)
                span #{config.inclusion_1.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="inclusion_2" checked=screeningObj.inclusion_2)
                span #{config.inclusion_2.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="inclusion_3" checked=screeningObj.inclusion_3)
                span #{config.inclusion_3.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="inclusion_4" checked=screeningObj.inclusion_4)
                span #{config.inclusion_4.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        input(type="submit" value=buttonConfig.buttons.save.text)
