extends ../caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/screening/assistant/${screeningObj.case || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_1.text}
              .col-sm-8
                select.form-control(name="assistant_1")
                  each assistantExamResultItem in assistantExamResultConfig
                    option(value=assistantExamResultItem.value selected=(screeningObj.assistant_1 === assistantExamResultItem.value)) #{assistantExamResultItem.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_2.text}
              .col-sm-8
                textarea.form-control(rows="5" name="assistant_2" value=screenObj.assistant_2)
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_3.text}
              .col-sm-8
                select.form-control(name="assistant_3")
                  each assistantExamResultItem in assistantExamResultConfig
                    option(value=assistantExamResultItem.value selected=(screeningObj.assistant_3 === assistantExamResultItem.value)) #{assistantExamResultItem.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_4.text}
              .col-sm-8
                textarea.form-control(rows="5" name="assistant_4" value=screenObj.assistant_4)
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_5.text}
              .col-sm-8
                select.form-control(name="assistant_5")
                  each assistantExamResultItem in assistantExamResultConfig
                    option(value=assistantExamResultItem.value selected=(screeningObj.assistant_5 === assistantExamResultItem.value)) #{assistantExamResultItem.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .form-group
              label.col-sm-4.control-label #{config.assistant_6.text}
              .col-sm-8
                textarea.form-control(rows="5" name="assistant_6" value=screenObj.assistant_6)
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        input(type="submit" value=buttonConfig.buttons.save.text)
