extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-lab-form" action=`/screening-lab/${caseId}` method="POST")
      fieldset
        legend #{config.subtitles.subtitle_1.text}
        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_1, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_2, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_3, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_4, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_5, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_6, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_7, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_8, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_9, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_10, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_11)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_11, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_12)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_12, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_13)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_13, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_14)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_14, questionFields)

      fieldset
        legend #{config.subtitles.subtitle_2.text}
        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_15)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_15, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_16)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_16, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_17)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_17, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_18)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_18, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_19)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_19, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_20)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_20, questionFields)

      fieldset
        legend #{config.subtitles.subtitle_3.text}
        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_21)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_21, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_22)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_22, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_23)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_23, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_24)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_24, questionFields)

      fieldset
        legend #{config.subtitles.subtitle_4.text}
        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_25)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_25, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_26)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_26, questionFields)

      fieldset
        legend #{config.subtitles.subtitle_5.text}
        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_27)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_27, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_28)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_28, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_29)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_29, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_30)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_30, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_31)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_31, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_32)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_32, questionFields)

        .row
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_33)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_33, questionFields)
          .col-sm-4
            +_formTemplate(config.formConfigs.lab_34)
          .col-sm-2
            +_questionBtn(config.formConfigs.lab_34, questionFields)

      input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
