extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="screening-basic-form" action=`/screening-basic/${caseId}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.title}

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.sex)
          .col-sm-2
            +_questionBtn(config.formConfigs.sex, questionFields)
        
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.birth)
          .col-sm-2
            +_questionBtn(config.formConfigs.birth, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.weight)
          .col-sm-2
            +_questionBtn(config.formConfigs.weight, questionFields)          

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.height)
          .col-sm-2
            +_questionBtn(config.formConfigs.height, questionFields)

      .row.hidden(id="screen-basic-error")
        .col-sm-12
          .alert.alert-danger(role="alert")
            span #{config.errors.exclusion.text}

      .row.hidden(id="screen-basic-error-1")
        .col-sm-12
          .alert.alert-danger(role="alert")
            span #{config.errors.error_1.text}
            
      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(type="submit" value=buttonConfig.buttons.save.text)
