extends ../caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/screening/conmed/${screeningObj.case || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="conmed_1" checked=screeningObj.conmed_1)
                span #{config.conmed_1.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="conmed_2" checked=screeningObj.conmed_2)
                span #{config.conmed_2.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="conmed_3" checked=screeningObj.conmed_3)
                span #{config.conmed_3.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="conmed_4" checked=screeningObj.conmed_4)
                span #{config.conmed_4.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="conmed_5" checked=screeningObj.conmed_5)
                span #{config.conmed_5.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        input(type="submit" value=buttonConfig.buttons.save.text)
