extends ../caseLayout

block case-content
  .case-content
    form.form-horizontal(action=`/screening/disease/${screeningObj.case || ''}` method="POST")
      fieldset
        legend #{config.title}

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_1" checked=screeningObj.disease_1)
                span #{config.disease_1.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_2" checked=screeningObj.disease_2)
                span #{config.disease_2.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_3" checked=screeningObj.disease_3)
                span #{config.disease_3.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_4" checked=screeningObj.disease_4)
                span #{config.disease_4.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_5" checked=screeningObj.disease_5)
                span #{config.disease_5.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign
        
        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_6" checked=screeningObj.disease_6)
                span #{config.disease_6.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_7" checked=screeningObj.disease_7)
                span #{config.disease_7.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            .checkbox
              label
                input(type="checkbox" name="disease_8" checked=screeningObj.disease_8)
                span #{config.disease_8.text}
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        .row
          .col-sm-10
            label #{config.disease_9.text}
            textarea.form-control(rows="5" name="disease_9" value=screeningObj.disease_9)
          .col-sm-2
            button.btn.btn-default(type="button")
              span.glyphicon.glyphicon-question-sign

        input(type="submit" value=buttonConfig.buttons.save.text)
