extends ../layout

block content
  .inner
    form.form-horizontal(action=`/site/${site._id || ''}` method="POST")
      fieldset
        legend #{siteConfig.title}

        .form-group
          label.col-sm-2.control-label #{siteConfig.labels.sitename.text}
          .col-sm-10
            input.form-control(type="text" name="sitename" required value=site.sitename)

        .form-group
          label.col-sm-2.control-label #{siteConfig.labels.sitemail.text}
          .col-sm-10
            input.form-control(type="email" name="sitemail" required value=site.sitemail)

        .form-group
          label.col-sm-2.control-label #{siteConfig.labels.sitetel.text}
          .col-sm-10
            input.form-control(type="text" name="sitetel" required value=site.sitetel)

        .form-group
          label.col-sm-2.control-label #{siteConfig.labels.country.text}
          .col-sm-10
            input.form-control(type="text" name="country" required value=site.country)
        input(type="submit" value=siteConfig.buttons.saveNewSite.text)
