extends ../layout

block content
  .inner.pading-right-15
    .panel.panel-default
      .panel-heading
        h3 #{siteTableConfig.title}
      table.table.table-striped
        thead
          tr
            each siteTableHeader in siteTableConfig.headers
              th #{siteTableHeader.text}
        tbody
          each site in sites
            tr
              each siteTableHeader in siteTableConfig.headers
                if siteTableHeader.name !== 'operations'
                  td #{site[siteTableHeader.name]}
                else
                  td
                    .btn-group
                        a.btn.btn-default(role="button" href=`/site/${site._id}`)
                          span.glyphicon.glyphicon-pencil
                        a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteSiteConfirmModal" data-removeid=site._id)
                          span.glyphicon.glyphicon-trash

      a.btn.btn-default.yuda-input-btn-2(href="/site" role="button") #{siteTableConfig.buttons.createNewSite.text}

    .modal.fade(id='deleteSiteConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{siteTableConfig.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteSiteConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
