mixin _caseNav(caseNav)
  ul.yuda-nav-stack
    each naviMenuItem in caseNav
      if naviMenuItem.name === 'discontinuation'
        if locals.case.status === 'quit'
          li.level-1(class=(currentPath.startsWith(`/${naviMenuItem.name}/`) ? 'active' : ''))
            - const naviItemLink = `${naviMenuItem.link}/${naviMenuItem.caseId}`;
            a(href=naviItemLink) #{naviMenuItem.title}

      else
          li.level-1(class=(currentPath.startsWith(`/${naviMenuItem.name}/`) ? 'active' : ''))
            - const naviItemLink = `${naviMenuItem.link}/${naviMenuItem.caseId}`;
            a(href=naviItemLink) #{naviMenuItem.title}
            if naviMenuItem.children

              each childMenuItem in naviMenuItem.children
                li.level-2(class=(currentPath.startsWith(`/${childMenuItem.name}/`) ? 'active' : ''))
                  - const link = `${childMenuItem.link}/${childMenuItem.caseId}`;
                  a(href=link) #{childMenuItem.title}
