mixin _caseNav(caseNav)
  ul
    each naviMenuItem in caseNav
      li
        - const naviItemLink = `${naviMenuItem.link}/${naviMenuItem.caseId}`;
        a(href=naviItemLink) #{naviMenuItem.title}
        if naviMenuItem.children
          ul
            each childMenuItem in naviMenuItem.children
              li
                - const link = `${childMenuItem.link}/${childMenuItem.caseId}`;
                a(href=link) #{childMenuItem.title}
