mixin _checkboxTemplate(config, disabled)
  - const name = config.name
  - const value = config.value
  - const realId = name + 'Real'
  - const hiddenValue = value === true ? 'true' : 'false'
  .checkbox(id=`${config.name}-container` class=(config.hidden === true ? 'hidden' : ''))
    label
      if disabled !== true
        input(id=realId type="hidden" name=name value=hiddenValue)
      input(id=name type="checkbox" checked=value required=config.required onclick='handleCheckboxClick(this)' data-customvalidator)
      span #{config.text}
