mixin _dateTemplate(config, disabled)
  - const name = config.name
  - const value = config.value
  - const idReal = name + 'Real'
  .form-group(id=`${name}-container` class=(config.hidden === true ? 'hidden' : ''))
    label.col-sm-4.control-label #{config.text}
    .col-sm-8
      div.input-group.date(data-provide="datepicker" id=name data-extra=config.extra)
        input.form-control(disabled=disabled value=value data-customvalidator data-customrequired=config.required)
        span.input-group-addon
          i.glyphicon.glyphicon-th
      if disabled !== true
        input(id=idReal type="hidden" name=name value=value)
