mixin _datetimeTemplate(config, disabled)
  - const date_name = config.date.name
  - const date_value = config.date.value
  - const time_name = config.time.name
  - const time_value = config.time.value
  - const dateIdReal = date_name + 'Real'
  - const timeIdReal = time_name + 'Real'
  - const formDisabled = !(locals.case.status === 'open' || locals.user.role === 'admin')
  - disabled = disabled || formDisabled
  .form-group(id=`${config.name}-container`)
    label.control-label #{config.text}
    div
      .col-sm-4.padding-left-0
        div.input-group.date(data-provide="datepicker" id=date_name)
          input.form-control(disabled=disabled value=date_value data-customrequired=config.required)
          span.input-group-addon
            i.glyphicon.glyphicon-th
        if disabled !== true
          input(id=dateIdReal type="hidden" name=date_name value=date_value)
      .col-sm-4
        div.input-group.bootstrap-timepicker.timepicker
          input.form-control.input-small(disabled=disabled id=time_name type="text" value=time_value data-customrequired=config.required)
          span.input-group-addon
            i.glyphicon.glyphicon-time
        if disabled !== true
          input(id=timeIdReal type="hidden" name=time_name value=time_value)
