mixin _numberfieldTemplate()
  .form-group(id=`${config.name}-container`)
    label.col-sm-4.control-label #{config.text}
    .col-sm-8
      input.form-control(id=config.name type="number" step=config.step name=config.name value=config.value)
