mixin _textfieldTemplate(config, disabled)
  .form-group(id=`${config.name}-container`)
    label.control-label #{config.text}
    input.form-control(disabled=disabled type="text" name=config.name value=config.value data-customrequired=config.required)
