mixin _textareaTemplate(config, disabled)
  - const name = config.name
  - const hidden = config.hidden
  .form-group(id=`${name}-container` class=(hidden === true ? 'hidden' : ''))
    label.control-label #{config.text}
    textarea.form-control(disabled=disabled id=name rows="5" name=name data-customrequired=config.required data-extra=config.extra) #{config.value}
