mixin _textareaTemplate(config)
  - const name = config.name
  - const hidden = config.hidden
  .form-group(id=`${name}-container` class=(hidden === true ? 'hidden' : ''))
    label.col-sm-4.control-label #{config.text}
    .col-sm-8
      textarea.form-control(id=name rows="5" name=name required=config.required data-extra=config.extra) #{config.value}
