extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="visit-form" action=`/visit/${caseId}/${visitId || ''}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_1.text}
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assessmentdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.assessmentdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperativeday, true, true)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.postoperative_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_1, questionFields)

        - config.formConfigs.postoperative_1_1.hidden = !(config.formConfigs.postoperative_1.value === true)
        .row(id=`postoperative_1_1_row` class=(config.formConfigs.postoperative_1_1.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_1_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_1_1, questionFields)

        - config.formConfigs.postoperative_1_2.hidden = !(config.formConfigs.postoperative_1.value === true)
        .row(id=`postoperative_1_2_row` class=(config.formConfigs.postoperative_1_2.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_1_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_1_2, questionFields)

        - config.formConfigs.postoperative_1_3.hidden = !(config.formConfigs.postoperative_1.value === true)
        .row(id=`postoperative_1_3_row` class=(config.formConfigs.postoperative_1_3.hidden === true ? 'hidden' : ''))
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_1_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_1_3, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2, questionFields)

        - config.formConfigs.postoperative_2_1.hidden = !(config.formConfigs.postoperative_2.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1, questionFields)

        if !(config.formConfigs.postoperative_2_1.value === 1)
          div.hidden(id=`postoperative_2_1_div`)
            hr(style="border: 1px solid #c0c0c0;")
        else
          div(id=`postoperative_2_1_div`)
            hr(style="border: 1px solid #c0c0c0;")

        br

        if !(config.formConfigs.postoperative_2_1.value === 1)
          label.control-label.hidden(id=`postoperative_2_1_label_1`) #{config.subtitles.subtitle_2.text}
        else
          label.control-label(id=`postoperative_2_1_label_1`) #{config.subtitles.subtitle_2.text}

        - config.formConfigs.postoperative_2_1_2.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_2, questionFields)

        - config.formConfigs.postoperative_2_1_3.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_3)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_3, questionFields)

        - config.formConfigs.postoperative_2_1_4.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_4)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_4, questionFields)

        br

        if !(config.formConfigs.postoperative_2_1.value === 1)
          label.control-label.hidden(id=`postoperative_2_1_label_2`) #{config.subtitles.subtitle_3.text}
        else
          label.control-label(id=`postoperative_2_1_label_2`) #{config.subtitles.subtitle_3.text}

        - config.formConfigs.postoperative_2_1_5.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_5)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_5, questionFields)

        - config.formConfigs.postoperative_2_1_6.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_6)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_6, questionFields)

        - config.formConfigs.postoperative_2_1_7.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_7)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_7, questionFields)

        - config.formConfigs.postoperative_2_1_8.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_8)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_8, questionFields)

        - config.formConfigs.postoperative_2_1_9.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_9)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_9, questionFields)

        br

        if !(config.formConfigs.postoperative_2_1.value === 1)
          label.control-label.hidden(id=`postoperative_2_1_label_3`) #{config.subtitles.subtitle_4.text}
        else
          label.control-label(id=`postoperative_2_1_label_3`) #{config.subtitles.subtitle_4.text}

        - config.formConfigs.postoperative_2_1_10.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_10)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_10, questionFields)

        - config.formConfigs.postoperative_2_1_11.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_11)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_11, questionFields)

        br

        if !(config.formConfigs.postoperative_2_1.value === 1)
          label.control-label.hidden(id=`postoperative_2_1_label_4`) #{config.subtitles.subtitle_5.text}
        else
          label.control-label(id=`postoperative_2_1_label_4`) #{config.subtitles.subtitle_5.text}

        - config.formConfigs.postoperative_2_1_12.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_12)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_12, questionFields)

        - config.formConfigs.postoperative_2_1_13.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_13)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_13, questionFields)

        - config.formConfigs.postoperative_2_1_14.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_14)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_14, questionFields)

        - config.formConfigs.postoperative_2_1_15.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_15)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_15, questionFields)

        - config.formConfigs.postoperative_2_1_16.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_16)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_16, questionFields)

        - config.formConfigs.postoperative_2_1_17.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_17)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_17, questionFields)

        br

        - config.formConfigs.postoperative_2_1_18.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_18)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_18, questionFields)

        - config.formConfigs.postoperative_2_1_18_1.hidden = !(config.formConfigs.postoperative_2.value === 0 && config.formConfigs.postoperative_2_1.value === 1 && config.formConfigs.postoperative_2_1_18.value > 0)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_18_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_18_1, questionFields)

        br

        if !(config.formConfigs.postoperative_2_1.value === 1)
          div.hidden(id=`visit_doc_1`)
            br
            span #{"Explanation of Clavien grading:"}
            br
            span
              b #{"Grade 2: "}
              span #{"Pharmacological treatment was required including blood transfusion or parenteral nutrition. Exceptions: antiemetics, antipyretics, analgesics, diuretics, electrolyte replacement."}
            br
            span
              b #{"Grade 3a: "}
              span #{"Complication requiring surgical, endoscopic or radiological (percutaneous drainage) treatment without anesthesia."}
            br
            span
              b #{"Grade 3b: "}
              span #{"Complication requiring surgical, endoscopic or radiological treatment under anesthesia."}
            br
            span
              b #{"Grade 4a: "}
              span #{"Life-threatening complication (incl. CNS) that required intensive care with failure of an organ (incl. Dialysis)."}
            br
            span
              b #{"Grade 4b: "}
              span #{"Life-threatening complication (incl. CNS) that required intensive care with multi-organ failure."}
            br
            span
              b #{"Grade 5: "}
              span #{"Dead."}
            hr(style="border: 1px solid #c0c0c0;")
        else
          div(id=`visit_doc_1`)
            br
            span #{"Explanation of Clavien grading:"}
            br
            span
              b #{"Grade 2: "}
              span #{"Pharmacological treatment was required including blood transfusion or parenteral nutrition. Exceptions: antiemetics, antipyretics, analgesics, diuretics, electrolyte replacement."}
            br
            span
              b #{"Grade 3a: "}
              span #{"Complication requiring surgical, endoscopic or radiological (percutaneous drainage) treatment without anesthesia."}
            br
            span
              b #{"Grade 3b: "}
              span #{"Complication requiring surgical, endoscopic or radiological treatment under anesthesia."}
            br
            span
              b #{"Grade 4a: "}
              span #{"Life-threatening complication (incl. CNS) that required intensive care with failure of an organ (incl. Dialysis)."}
            br
            span
              b #{"Grade 4b: "}
              span #{"Life-threatening complication (incl. CNS) that required intensive care with multi-organ failure."}
            br
            span
              b #{"Grade 5: "}
              span #{"Dead."}

      .row.hidden(id="visit-error-1")
        .col-sm-12
          .alert.alert-warning(role="alert")
            span #{config.errors.error_1.text}

      .row.hidden(id="visit-error-2")
        .col-sm-12
          .alert.alert-warning(role="alert")
            span #{config.errors.error_2.text}

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(id="visit-submit-btn" type="submit" value=buttonConfig.buttons.save.text)
