extends ../caseLayout

include ../mixins/_formTemplate
include ../mixins/_questionBtn

block case-content
  .case-content
    form.form-horizontal(id="visit-form" action=`/visit/${caseId}/${visitId || ''}` method="POST")
      - const formDisabled = !((locals.case.status === 'open' && locals.user.role === 'cra') || locals.user.role === 'admin')
      fieldset(disabled=formDisabled)
        legend #{config.subtitles.subtitle_1.text}
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.assessmentdtc)
          .col-sm-2
            +_questionBtn(config.formConfigs.assessmentdtc, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperativeday, true, true)

        .row
          .col-sm-10
            .form-group
              +_formTemplate(config.formConfigs.postoperative_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_1, questionFields)

        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2, questionFields)

        - config.formConfigs.postoperative_2_1.hidden = !(config.formConfigs.postoperative_2.value === true)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1, questionFields)

        - config.formConfigs.postoperative_2_1_1.hidden = !(config.formConfigs.postoperative_2_1.value === 1)
        .row
          .col-sm-10
            +_formTemplate(config.formConfigs.postoperative_2_1_1)
          .col-sm-2
            +_questionBtn(config.formConfigs.postoperative_2_1_1, questionFields)


      .row.hidden(id="visit-error-1")
        .col-sm-12
          .alert.alert-warning(role="alert")
            span #{config.errors.error_1.text}

      .row.hidden(id="visit-error-2")
        .col-sm-12
          .alert.alert-warning(role="alert")
            span #{config.errors.error_2.text}

      if formDisabled === false
        input.btn.btn-default.yuda-input-btn(id="visit-submit-btn" type="submit" value=buttonConfig.buttons.save.text)
