extends ../caseLayout

block case-content
  .case-content
    h2 #{config.title}

    table.table.table-striped
      thead
        tr
          each visitTableHeader in config.headers
            th #{visitTableHeader.text}
      tbody
        each visit in visitList
          tr
            each visitTableHeader in config.headers
              if visitTableHeader.name !== 'operations'
                td #{visit[visitTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/visit/${caseId}/${visit._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" href=`/remove/visit/${caseId}/${visit._id}`)
                      span.glyphicon.glyphicon-trash

    a.btn.btn-default.yuda-input-btn(href=`/visit/${caseId}` role="button") #{buttonConfig.buttons.add.text}
