extends ../caseLayout

block case-content
  .case-content
    table.table.table-striped
      thead
        tr
          each visitTableHeader in config.headers
            th #{visitTableHeader.text}
      tbody
        each visit in visitList
          tr
            each visitTableHeader in config.headers
              if visitTableHeader.name !== 'operations'
                td #{visit[visitTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/visit/${caseId}/${visit._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" data-toggle="modal" data-target="#deleteVisitConfirmModal" data-caseid=caseId data-visitid=visit._id)
                      span.glyphicon.glyphicon-trash

    if canAdd
      a.btn.btn-default.yuda-input-btn(href=`/visit/${caseId}` role="button") #{buttonConfig.buttons.add.text}

    .modal.fade(id='deleteVisitConfirmModal' tabindex="-1" role="dialog")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;

          .modal-body
            h4 #{config.removeConfirm.message.text}

          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") #{buttonConfig.buttons.close.text}
            a.btn.btn-primary(id="deleteVisitConfirmModalConfirmBtn" role="button") #{buttonConfig.buttons.remove.text}
