extends ../caseLayout

block case-content
  .case-content
    table.table.table-striped
      thead
        tr
          each aeTableHeader in config.headers
            th #{aeTableHeader.text}
      tbody
        each ae in aeList
          tr
            each aeTableHeader in config.headers
              if aeTableHeader.name !== 'operations'
                td #{ae[aeTableHeader.name]}
              else
                td
                  .btn-group
                    a.btn.btn-default(role="button" href=`/ae/${caseId}/${ae._id}`)
                      span.glyphicon.glyphicon-pencil
                    a.btn.btn-default(role="button" href=`/remove/ae/${caseId}/${ae._id}`)
                      span.glyphicon.glyphicon-trash

    a.btn.btn-default.yuda-input-btn(href=`/ae/${caseId}` role="button") #{buttonConfig.buttons.add.text}
