extends ../caseLayout

block case-content
  .case-content
    h2 #{aeTableConfig.title}

    table.table.table-striped
      thead
        tr
          each aeTableHeader in aeTableConfig.headers
            th #{aeTableHeader.text}
      tbody
        each ae in aeList
          tr
            each aeTableHeader in aeTableConfig.headers
              if aeTableHeader.name !== 'operations'
                td #{ae[aeTableHeader.name]}
              else
                td
                  .row
                    .col-sm-4
                      a.btn.btn-default(role="button" href=`/ae/${caseId}/${ae._id}`)
                        span.glyphicon.glyphicon-pencil

                    .col-sm-4
                      a.btn.btn-default(role="button" href=`/remove/ae/${caseId}/${ae._id}`)
                        span.glyphicon.glyphicon-trash

    a.btn.btn-default(href=`/ae/${caseId}` role="button") #{buttonConfig.buttons.add.text}
